<main>
  <h1>Welcome to KingUni Wiki!</h1>
  <section>
    <h2>All articles</h2>
    <div class='spacer'>
      <ul>
        <li>
          <a href='/article'>Astronomy</a>
        </li>
        <li>
          <a href='/article'>Galaxy</a>
        </li>
        <li>
          <a href='/article'>Planet</a>
        </li>
        <li>
          <a href='/article'>Star</a>
        </li>
        <li>
          <a href='/article'>Telescope</a>
        </li>
      </ul>
    </div>
  </section>
</main>
<footer> KingUni Wiki &copy; 2020 </footer>